@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.container-fluid {
    padding: 30px;
    justify-content: center;
    align-items:center;
    background-color: #1a0321;
    font-family: "Quicksand", sans-serif;
    color: white;
    animation: mover-izquierda-derecha 2s 1;
    animation-fill-mode:forwards;
}

@keyframes mover-izquierda-derecha {
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(10px);
    }
}


.h1 {
    padding-left: 30px;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: <300>;
    font-style: normal;
   

.button{
    display: inline-block;
    padding: 15px 30px;
    color: white;
    letter-spacing: 0.1em;
    font-size: 15px;
    text-decoration:none;
    overflow: hidden;
    transition: 0.2s;
}
.button:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px,
    #a945c7, 00 80px #a945c7;
    transition-delay: 1s;
}
.a{
    text-decoration: none;
    color: white;
}